@use '../helpers' as *;

.hero {
  position: relative;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: column;

  &__container {
    //margin-top: rem(140);
    //padding-bottom: rem(80);
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: fluid(190,130);
  }

}